{
  "openapi": "3.0.0",
  "info": {
    "title": "Massive API",
    "version": "1.0.0",
    "description": "Market data API for stocks, options, forex, and crypto."
  },
  "servers": [
    {
      "url": "https://api.massive.com",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v2/aggs/ticker/{ticker}/range/{multiplier}/{timespan}/{from}/{to}": {
      "get": {
        "operationId": "getAggregates",
        "summary": "Get aggregate bars for a ticker",
        "tags": ["Market Data"],
        "parameters": [
          {"name": "ticker", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "multiplier", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "timespan", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "from", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "to", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "adjusted", "in": "query", "schema": {"type": "boolean"}},
          {"name": "sort", "in": "query", "schema": {"type": "string"}},
          {"name": "limit", "in": "query", "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/AggsResponse"}
              }
            }
          }
        }
      }
    },
    "/v3/trades/{ticker}": {
      "get": {
        "operationId": "getTrades",
        "summary": "Get trades for a ticker",
        "tags": ["Trades"],
        "parameters": [
          {"name": "ticker", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "timestamp.gt", "in": "query", "schema": {"type": "string"}},
          {"name": "timestamp.gte", "in": "query", "schema": {"type": "string"}},
          {"name": "timestamp.lt", "in": "query", "schema": {"type": "string"}},
          {"name": "timestamp.lte", "in": "query", "schema": {"type": "string"}},
          {"name": "order", "in": "query", "schema": {"type": "string"}},
          {"name": "limit", "in": "query", "schema": {"type": "integer"}},
          {"name": "sort", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v3/quotes/{ticker}": {
      "get": {
        "operationId": "getQuotes",
        "summary": "Get quotes for a ticker",
        "tags": ["Quotes"],
        "parameters": [
          {"name": "ticker", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "timestamp.gt", "in": "query", "schema": {"type": "string"}},
          {"name": "timestamp.gte", "in": "query", "schema": {"type": "string"}},
          {"name": "timestamp.lt", "in": "query", "schema": {"type": "string"}},
          {"name": "timestamp.lte", "in": "query", "schema": {"type": "string"}},
          {"name": "order", "in": "query", "schema": {"type": "string"}},
          {"name": "limit", "in": "query", "schema": {"type": "integer"}},
          {"name": "sort", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v2/snapshot/locale/{locale}/markets/{market}/tickers/{ticker}": {
      "get": {
        "operationId": "getTickerSnapshot",
        "summary": "Get snapshot for a single ticker",
        "tags": ["Snapshots"],
        "parameters": [
          {"name": "locale", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "market", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "ticker", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v3/reference/tickers": {
      "get": {
        "operationId": "getTickers",
        "summary": "Get list of tickers",
        "tags": ["Reference"],
        "parameters": [
          {"name": "ticker", "in": "query", "schema": {"type": "string"}},
          {"name": "type", "in": "query", "schema": {"type": "string"}},
          {"name": "market", "in": "query", "schema": {"type": "string"}},
          {"name": "exchange", "in": "query", "schema": {"type": "string"}},
          {"name": "active", "in": "query", "schema": {"type": "boolean"}},
          {"name": "limit", "in": "query", "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AggsResponse": {
        "type": "object",
        "properties": {
          "status": {"type": "string"},
          "ticker": {"type": "string"},
          "queryCount": {"type": "integer"},
          "resultsCount": {"type": "integer"},
          "adjusted": {"type": "boolean"},
          "results": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/AggregateBar"}
          },
          "next_url": {"type": "string"}
        }
      },
      "AggregateBar": {
        "type": "object",
        "properties": {
          "o": {"type": "number", "description": "Open price"},
          "h": {"type": "number", "description": "High price"},
          "l": {"type": "number", "description": "Low price"},
          "c": {"type": "number", "description": "Close price"},
          "v": {"type": "number", "description": "Volume"},
          "vw": {"type": "number", "description": "VWAP"},
          "t": {"type": "integer", "description": "Timestamp (Unix ms)"},
          "n": {"type": "integer", "description": "Number of transactions"}
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "conditions": {"type": "array", "items": {"type": "integer"}},
          "exchange": {"type": "integer"},
          "price": {"type": "number"},
          "sip_timestamp": {"type": "integer"},
          "size": {"type": "integer"},
          "tape": {"type": "integer"}
        }
      },
      "Quote": {
        "type": "object",
        "properties": {
          "ask_exchange": {"type": "integer"},
          "ask_price": {"type": "number"},
          "ask_size": {"type": "integer"},
          "bid_exchange": {"type": "integer"},
          "bid_price": {"type": "number"},
          "bid_size": {"type": "integer"},
          "sip_timestamp": {"type": "integer"}
        }
      },
      "Ticker": {
        "type": "object",
        "properties": {
          "ticker": {"type": "string"},
          "name": {"type": "string"},
          "market": {"type": "string"},
          "locale": {"type": "string"},
          "primary_exchange": {"type": "string"},
          "type": {"type": "string"},
          "active": {"type": "boolean"},
          "currency_name": {"type": "string"},
          "cik": {"type": "string"},
          "composite_figi": {"type": "string"},
          "share_class_figi": {"type": "string"}
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apiKey",
        "in": "query"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
